canvas {
    border: 1px solid rgba(100,100,100,0.5);
}

div.container {
    width:300px;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

div.colorbox {
    border: 2px solid white;
    width:50px;
    height:50px;
    display: inline-block;
    margin: 5px;
}

div.colorbox:hover{
    border: none;
    padding:2px;
}

div.selected {
    border: 2px solid red;
}

textarea#dat {
    font-size:9px;
}

pre.button {
    font-family: monospace;
    background-color: lightgray;
    width:9em;
    padding-top:2px;
    padding-bottom:2px;
    border-radius: 3px;
    margin-left:auto;
    margin-right:auto;
}

pre.button:hover {
    background-color: grey;
}

pre.button:active{
    background-color: #aa2;
}

/* colors {{{ */

#color00{
    background-color: #000000;
}

#color01{
    background-color: #484848;
}

#color02{
    background-color: #b8b8b8;
}

#color03{
    background-color: #f8f8f8;
}

#color04{
    background-color: #c11;
}

#color05{
    background-color: #f81;
}

#color06{
    background-color: #ee2;
}

#color07{
    background-color: #291;
}

#color08{
    background-color: #087;
}

#color09{
    background-color: #07f;
}

#color10{
    background-color: #14b;
}

#color11{
    background-color: #92b;
}

#color12{
    background-color: #941;
}

#color13{
    background-color: #fcb;
}

#color14{
    background-color: #f9b;
}

#color15{
    background-color: #a94;
}
/* }}} */
